        <section class="text-center content-section about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>история</h2>
                        <p><br>Рисую с детства. Художественное и дизайнерское образование.<br>С 16 года роспись стен и
                            аэрография на авто для меня - основной вид деятельности.<br></p>
                        <p>Умею оценивать сложность и сроки выполнения проектов и укладываться в них.
                            Подбираю&nbsp;варианты
                            росписи подходящие для интерьера. Профессионально консультирую на всех этапах. Владею
                            специализированным оборудованием для визуализации результата&nbsp;до начала работ.</p>
                        <p>Работаю с улыбкой, вкладываю душу. Фигню рисую только если очень настаивать.</p>
                    </div>
                </div>
            </div>
        </section>
