    {{ "<!-- Favicon -->" | safeHTML }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ `images/apple-touch-icon.png` | absURL }} ">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ `images/android-chrome-512x512.png` | absURL }} ">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ `images/android-chrome-192x192.png` | absURL }} ">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ `images/favicon-32x32.png` | absURL }} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ `images/favicon-16x16.png` | absURL }} ">
