        {{ partial "navigation.html" .  }}
        <header>
            <video id="video-background" autoplay="autoplay" loop="loop" muted defaultMuted playsinline preload="auto"
                poster="https://torya.art/assets/img/cover.png">
                <source src="https://torya.art/torya.art.background.mp4" type="video/mp4">
                <source src="https://torya.art/torya.art.background.new.webm" type="video/webm">

                <!-- <source src="../../torya.art.background.new.mp4" type="video/mp4"> -->
            </video>
            <div class="container h-100 video-content" style="background: transparent;">
                <div class="d-flex text-end h-100">
                    <div class="my-auto w-100 text-white">
                        <h2 class="display-3">рисую<br></h2>
                        <p>Делаю любые поверхности ярче</p>
                        <p>Роспись, барельеф, аэрография, картины</p>
                    </div>
                </div>
            </div>
        </header>
