        {{ partial "navigation.html" .  }}
        <header>
            <video id="video-background" autoplay="autoplay" loop="loop" muted defaultMuted playsinline preload="auto"
                poster="{{ site.Params.Cover.poster.link | absURL }}">
                {{ range site.Params.Cover.video -}}
                <source src="{{ .link | absURL }}" type="{{ .type }}">
                {{ end }}
            </video>
            <div class="container h-100 video-content" style="background: transparent;">
                <div class="d-flex text-end h-100">
                    <div class="my-auto w-100 text-white">
                        <h2 class="display-3">{{ site.Params.Cover.title.text }}<br></h2>
                        {{ range site.Params.Cover.thesis -}}
                        <p>{{ .text }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>
