        {{ if site.Data.gallery.gallery.enable  }}
        {{ with site.Data.gallery.gallery  }}
        <section id="portfolio" class="photo-gallery">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">{{ .title | markdownify  }}</h2>
                    <p class="text-center">{{ .subtitle | markdownify  }}</p>
                </div>
                <div class="photos" data-bss-baguettebox="">
                    {{ range $i, $elem := .gallerylItem  }}
                    {{ if modBool $i 2  }}
                    <div class="photo-column">
                        <div class="item">
                            <a href="{{ .image | absURL  }}"
                               data-caption="<h4>{{ .title | markdownify  }}</h4><p>{{ .content | markdownify  }}</p>">
                                <img class="img-fluid" src="{{ .image | absURL  }}">
                            </a>
                        </div>
                    {{ else  }}
                        <div class="item">
                            <a href="{{ .image | absURL  }}"
                               data-caption="<h4>{{ .title | markdownify  }}</h4><p>{{ .content | markdownify  }}</p>">
                                <img class="img-fluid" src="{{ .image | absURL  }}">
                            </a>
                        </div>
                    </div>
                    {{ end  }}
                    {{ end  }}
                </div>
            </div>
        </section>
        {{ end  }}
        {{ end  }}
